body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout {
    /* Se adapta con FLEX al ancho total de la pantalla */
    display: flex;

    /* Se adapta al contenido de los elementos */
    /* display: inline-flex;  */



    /* DIRECCION DE ORDENAMIENTO POR FLEX */
    flex-direction: row;  /*por default*/
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */


    /* Permite indicar si se desea delimitar el tamaño o no */
    flex-wrap: wrap;


    /* Es el equivalente al uso en 1 linea de Flex Direction y de Flex Wrap */
    /* flex-flow:row wrap; */



    width: auto;

    border: 3px solid black;
    padding: 5px;
}

.caja {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background-color: grey;
}

.red {
    background-color: red;

}

.green {
    background-color: green;

}

.blue {
    background-color: blue;

}

.orange {
    background-color: orange;

}