body {
    background-color: antiquewhite;
    /* background-image: url(assets/Buho\ Studio.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left bottom;
    color: wheat; */
    color: black;
    text-indent: 60px;
    /* word-spacing: 3px; */

}

#caja{
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(199, 137, 137);
    color: blue;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* line-height: 50px; */
    text-transform: uppercase;
    /* text-decoration: underline; */
    vertical-align: top;
}
h2{
    color: white;
    border: 5px solid red;
    padding-top: 80px;
}