body {
    text-align: center;
}



#webSite {
    width: 75%;
    height: 100vh;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#cabecera{
    background-color: blue;
    color: white;
}

#menu{
    background-color: lightblue;
    color: black;
}

#contenido{
    background-color: #eee;
}

#contenido  article{
    background-color: #ccc;
    border: 1px solid #555;
}

#lateral {
    background-color: orange;
    color: white;
}

#pie-pagina{
    background-color: black;
    color: white;
}






















/* EJEMPLOS */

.layout {

    width: 80%;
    /* min-height: 400px; */
    height: 600px;
    margin: 0px auto;

    border: 3px solid orangered;

    /* Definir contenedor GRID */
    display: grid;


    /* Establece el tamaño de la columna, en este caso con repeat para no poner 2 veces fr - FRACCIONES- */
    grid-template-columns: repeat(3, 1fr);

    /* Para establecer los tamaños de los Rows, admite %, Fracciones (fr), pixeles*/
    grid-template-rows: 0.5fr 3fr 15% 1fr;


    /* Tamaño del grid, espaciado */
    gap: 10px;

    padding: 10px;

}

.layout .caja {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    /* margin: 10px; */
    background-color: gray;
}

.layout .red {
    background-color: red;

    /* De esta menera se puede expandir las columas, estableciendo que parte de la columa 1, a la 4 > con base al GRID del navegador */
    grid-column-start: 1;
    grid-column-end: 4;

}

.layout .blue {
    background-color: blue;
}

.layout .green {
    background-color: green;

    grid-row-start: 2;
    grid-row-end: 6;
}

.layout .blue {
    background-color: blue;
    grid-column: 2 / 4;

}

.layout .pink {
    background-color: pink;

    grid-column: 2 / 3;

    /* Para expandir a nivel fila, es decir a lo largo  */
    grid-row: 3/5;
}

.layout .orange {
    background-color: orange;
    grid-row: 3/5;

}

.layout .lightblue {
    background-color: lightblue;

    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* Esta es otra forma de expandir las columnas, ingresando que parte de la columa 1 / a la 4 , con base al Grid del Navegador*/
    grid-column: 2 / 4;
}